<server>

    <featureManager>
        <feature>jaxrs-2.1</feature>
        <feature>cdi-2.0</feature>
        <feature>concurrent-1.0</feature>
        <feature>jndi-1.0</feature>
    </featureManager>
    
    <keyStore password="changeit"/>
    
    <quickStartSecurity userName="bob" userPassword="somethingSecret"/>
    
    <variable name="http_port"  defaultValue="8080"/>
    <variable name="https_port" defaultValue="8443"/>
    
    <httpEndpoint id="defaultHttpEndpoint" httpPort="${http_port}" httpsPort="${https_port}" />

</server>
